body { background: #ae848d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 46px; display: flex; }
.block-search-0 { color: #ce88c2; font-size: 15px; margin-bottom: 5px; }
.block-session-1 { color: #eba510; font-size: 16px; margin-bottom: 5px; }
.block-filter-2 { color: #b51ac1; font-size: 17px; margin-bottom: 5px; }
.block-uploader-3 { color: #f04f36; font-size: 21px; margin-bottom: 5px; }
.block-notify-4 { color: #9e714c; font-size: 18px; margin-bottom: 5px; }
.block-uploader-5 { color: #aebca6; font-size: 13px; margin-bottom: 5px; }